version: 2.1
jobs:
  build:
    docker:
    - image: glx135/kernel_arm64:latest
      auth:
        username: $DOCKERHUB_USERNAME
        password: $DOCKERHUB_PASSWORD
    steps:
    - run:
        name: Checkout
        command: |
          git clone https://github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME.git . --depth=1 --branch=$CIRCLE_BRANCH --recurse-submodules -j$(nproc --all)
    - run:
        name: Here we go!
        command: |
          ./build --skip-update-submodule --skip-cleanup --no-branch
    - run:
        name: Pack & Upload
        command: |
          umbrella/package.sh
          export ZIPNAME=$(ls umbrella/out/*.zip | head -n 1)
          export LAST_COMMIT_MSG=$(git log --oneline -1 --pretty=%B | head -n 1)
          curl -F chat_id=$CHAT_ID -F document=@$ZIPNAME -F caption="$LAST_COMMIT_MSG" https://api.telegram.org/bot$BOT_API_TOKEN/sendDocument
          zip -r9 umbrella-mod-artifact.zip umbrella/out/*.zip
    - store_artifacts:
        path: umbrella-mod-artifact.zip
workflows:
  version: 2
  workflow:
    jobs:
    - build
