version: 2.1
jobs:
  build:
    docker:
    - image: glx135/kernel_arm64:latest
    steps:
    - run:
        name: Checkout
        command: |
          git clone https://github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME.git . --depth=1 --branch=$CIRCLE_BRANCH --recurse-submodules -j$(nproc --all)
    - run:
        name: Here we go!
        command: |
          export KBUILD_BUILD_USER=$CIRCLE_USERNAME
          make nb1_defconfig O=out
          CURRENT_BRANCH=$(git branch --show-current)
          CURRENT_BRANCH_CLEAN=${CURRENT_BRANCH//_/}
          CURRENT_BRANCH_CLEAN=${CURRENT_BRANCH_CLEAN// /_}
          CURRENT_BRANCH_CLEAN=${CURRENT_BRANCH_CLEAN////_}
          CURRENT_BRANCH_CLEAN=${CURRENT_BRANCH_CLEAN//[^a-zA-Z0-9_]/}
          LAST_COMMIT=$(git rev-parse --verify --short HEAD)
          make -j$(nproc --all) O=out \
            ARCH=arm64 \
            CC="ccache clang" \
            LD=ld.lld AR=llvm-ar NM=llvm-nm STRIP=llvm-strip \
            OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump OBJSIZE=llvm-size \
            READELF=llvm-readelf HOSTCC=clang HOSTCXX=clang++ HOSTAR=llvm-ar \
            CROSS_COMPILE=aarch64-linux-gnu- \
            CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
            LOCALVERSION=-$CURRENT_BRANCH_CLEAN-$LAST_COMMIT
    - run:
        name: Pack & Upload
        command: |
          umbrella/package.sh
          export ZIPNAME=$(ls umbrella/out/*.zip | head -n 1)
          curl -F chat_id=$CHAT_ID -F document=@$ZIPNAME -F parse_mode=markdown https://api.telegram.org/bot$BOT_API_TOKEN/sendDocument
          zip -r9 umbrella-mod-artifact.zip umbrella/out/*.zip
    - store_artifacts:
        path: umbrella-mod-artifact.zip
workflows:
  version: 2
  workflow:
    jobs:
    - build
