&spmi_bus {
  qcom,pmi8998@3 {
		qcom,leds@d000 {
			status = "okay";
			/delete-node/ qcom,rgb_0;
			red_led: qcom,rgb_0 {
				label = "rgb";
				qcom,id = <3>;
				qcom,mode = "pwm";
				pwms = <&pmi8998_pwm_5 0 0>;
				qcom,pwm-us = <1000>;
				qcom,max-current = <12>;
				qcom,default-state = "off";
				linux,name = "button-backlight";
				linux,default-trigger = "none";
			};
			green_led: qcom,rgb_1 {
				/delete-property/ qcom,use-blink;
				qcom,default-state = "off";
				linux,name = "green";
				linux,default-trigger = "battery-charging-blink-full-solid";
			};

			blue_led: qcom,rgb_2 {
				/delete-property/ qcom,use-blink;
				qcom,default-state = "off";
				linux,name = "blue";
				linux,default-trigger = "none";
				qcom,duty-pcts = [64 5a 50 46 3c 32 28 1e 14 0a 00];
				qcom,idx-len = <10>;
				qcom,start-idx = <0>;
				qcom,pause-hi = <500>;
				qcom,pause-lo = <500>;
				qcom,ramp-step-ms = <50>;
				qcom,lut-flags = <31>; /* loop, ramp up, reverse, pause hi, pause lo */
				qcom,use-blink;
			};
		};
	};
};
